[submodule "chef-apt-repo"]
      path = my-recipes/cookbooks/chef-apt-repo
      url = git://github.com/sometimesfood/chef-apt-repo.git

[submodule "monit"]
      path = my-recipes/cookbooks/monit
      url = git://github.com/NOX73/monit.git
[submodule "rails-quick-start"]
      path = my-recipes/cookbooks/rails-quick-start
      url = https://github.com/opscode/rails-quick-start.git

[submodule "rvm"]
      path = my-recipes/cookbooks/rvm
      url = https://github.com/fnichol/chef-rvm.git

[submodule "my-recipes/chef-server-cookbooks/couchdb"]
	path = my-recipes/chef-server-cookbooks/couchdb
	url = git://github.com/opscode-cookbooks/couchdb.git
[submodule "my-recipes/chef-server-cookbooks/erlang"]
	path = my-recipes/chef-server-cookbooks/erlang
	url = git://github.com/opscode-cookbooks/erlang.git
[submodule "my-recipes/chef-server-cookbooks/gecode"]
	path = my-recipes/chef-server-cookbooks/gecode
	url = git://github.com/opscode-cookbooks/gecode.git
[submodule "my-recipes/chef-server-cookbooks/java"]
	path = my-recipes/chef-server-cookbooks/java
	url = git://github.com/opscode-cookbooks/java.git
[submodule "my-recipes/chef-server-cookbooks/xml"]
	path = my-recipes/chef-server-cookbooks/xml
	url = git://github.com/opscode-cookbooks/xml.git
[submodule "my-recipes/chef-server-cookbooks/zlib"]
	path = my-recipes/chef-server-cookbooks/zlib
	url = git://github.com/opscode-cookbooks/zlib.git
[submodule "my-recipes/chef-server-cookbooks/apt"]
	path = my-recipes/chef-server-cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "my-recipes/shared-cookbooks/apache2"]
	path = my-recipes/shared-cookbooks/apache2
	url = git://github.com/opscode-cookbooks/apache2.git
[submodule "my-recipes/shared-cookbooks/runit"]
	path = my-recipes/shared-cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "my-recipes/chef-server-cookbooks/chef-server"]
	path = my-recipes/chef-server-cookbooks/chef-server
	url = git@github.com:NOX73/chef-server.git

[submodule "my-recipes/kaize-cookbooks"]
	path = my-recipes/kaize-cookbooks
	url = git@github.com:kaize/cookbooks.git
[submodule "dusha-ek"]
	path = dusha-ek
	url = git@bitbucket.org:nox73/dusha-ek_chef.git
[submodule "my-recipes/cookbooks/zeromq-cookbook"]
	path = my-recipes/cookbooks/zeromq-cookbook
	url = git://github.com/pyronicide/zeromq-cookbook.git
[submodule "my-recipes/cookbooks/build-essential"]
	path = my-recipes/cookbooks/build-essential
	url = git://github.com/cookbooks/build-essential.git
